/* Resume section style */
.year{
    display: inline-block;
    color: #ffffff;
}
.h5, .h6, .h4{
    color: #060b26;
    font-weight: 600;
}

/* .progress-bar{
    width: 90%;
    visibility: visible;
    animation-duration: 5s;
} */